*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    height: 100px;
	background: linear-gradient(-45deg, #ee5252, #e7563c, #d59723, #ffd900);
    
}

.title{
    text-align: center;
    color: white;
    line-height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.card .title-card{
    margin-bottom: 50px;
}

.card h2[class="title-page3"]{
    text-align: center;
    margin-bottom: 30px;
}

.card{
    border: 1px solid #c0c0c0;
    padding: 20px;
    width: 30%;
    margin: 5% auto;
    border-radius: 10px;
}
.card input{
    padding: 10px;
    border: 0.5px solid #c0c0c0;
    border-radius: 5px;
}
.card button,input[type="submit"]{
    border: orange;
    background-color: orange;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    
}

.card button[class="btn-submit"]:hover{
    cursor: pointer;
    background-color: #e7563c;
}
.card button[class="reset"]:hover{
    background-color: #e7563c;
    cursor: pointer;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: #e7563c;
}
hr{
    margin: 30px auto;
}
.card .checkBox button{
    margin-top: 10px;
}

.card input[type="checkbox"]{
    margin: 20px 20px 5px 20px;
}
.card label{
    margin-right: 20px;
}
.card .hasil{
    border: none;
    text-align: center;
}
.card p {
    color: #c0c0c0;
}